* {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
}

@font-face {
  font-family: "AuroraFont";
  src: url("../assets/fonts/edda.ttf");
}
@font-face {
  font-family: "Baskerville";
  src: url("../assets/fonts/Baskerville-Italic.ttf");
}
a {
  text-decoration: none;
}

body {
  background-color: #0D0221;
}

.logoheader {
  width: 200px;
  height: 40px;
}
.logoheader:hover {
  transform: scale(1.1);
}

.navstyle {
  background-color: #26408B;
  opacity: 0.9;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.navbar-items {
  font: medium "Montserrat";
  color: #ffffff;
  margin: 0px 30px;
}
.navbar-items:hover {
  color: #a6cfd5;
  padding-bottom: 10px;
  border-bottom: 2px #ffffff solid;
}

footer {
  width: 100%;
  height: 75px;
  background-color: #26408B;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  padding: 0px;
  margin-top: 10px;
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul li img {
  width: 70%;
}
footer ul li img:hover {
  transform: scale(1.05);
}

.main-media {
  width: 100%;
  padding: 10px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-media h2 {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  font-family: montserrat;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
  color: #ffffff;
  border-bottom: #ffffff 5px solid;
}
.main-ig {
  border-radius: 10px;
  height: 340px;
  margin: 10px 20px;
}
.main-yt {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.ratio {
  width: 80%;
}

.spotifyembed {
  height: 100%;
}

h1 {
  font: italic 900 3em "AuroraFont";
  text-align: center;
  color: #ffffff;
}

h2 {
  font: 600 1.5em "Montserrat";
  text-align: center;
  color: #ffffff;
}

h3 {
  font: bold 400 1.5em "Montserrat";
  text-align: center;
  color: #ffffff;
}

p {
  font: 300 1em "Montserrat";
  padding: 10px;
  color: #ffffff;
}

.merch-card {
  background-color: #dbdadd;
  border-radius: 20px;
  margin: 10px 20px;
}
.merch-card:hover {
  transform: scale(1.1);
}

.card {
  width: 300px;
  margin: 20px 20px;
  border-radius: 20px;
  background-color: #dbdadd;
}
.card:hover {
  transform: scale(1.01);
}
.card-image {
  border-radius: 20px 20px 0px 0px;
}
.card h2 {
  font: 900 large "Montserrat";
  color: #0d0d0d;
  margin: 5px;
  text-align: center;
}
.card h3 {
  font: 700 small "Montserrat";
  color: #0f084b;
  margin: 5px;
  text-align: center;
}
.card p {
  font: 600 small "Montserrat";
  color: #000000;
  margin: 5px;
  text-align: center;
}
.card a {
  text-decoration: none;
}

.container-animacion {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.container-animacion img {
  width: 100%;
}

.banner-one {
  grid-column: 1/4;
  grid-row: 1/7;
}

.banner-two {
  grid-column: 4/9;
  grid-row: 2/5;
}

.banner-three {
  grid-column: 9/13;
  grid-row: 1/7;
}

.title-row {
  margin: 30px;
}

.bio-row {
  background-image: url(../assets/images/bio-background.jpg);
  background-size: 100%;
  margin: 10px;
}

.bio-text-container {
  padding: 5%;
}

.bio-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.discografia-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 20px;
}

.show-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.show-row {
  height: 70px;
  justify-content: center;
  align-items: center;
}

.bio-img {
  width: 300px;
}

.show-banner img {
  width: 100%;
}

.ticket {
  border: none;
  border-radius: 3px;
  width: 70%;
  font-family: Montserrat;
}

.ticket:hover {
  background-color: #26408B;
  color: #ffffff;
}

.discografia-banner img {
  width: 350px;
  margin: 20px;
}

.carousel-inner {
  border-radius: 12px;
}

.navigate-records {
  text-align: center;
  font: 600 1.5em "Montserrat";
  color: #ffffff;
}
.navigate-records:hover {
  transform: scale(1.05);
}

.aurora-animation {
  animation-name: aparece;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: ease-out;
}

@keyframes aparece {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.title-animation {
  animation-name: rotacion;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: ease-out;
}

@keyframes rotacion {
  from {
    transform: scale(0) rotatey(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@media (max-width: 992px) {
  .bio-responsive-wide {
    display: none;
  }
}
@media (min-width: 991px) {
  .bio-responsive-narrow {
    display: none;
  }
}
@media (max-width: 500px) {
  .discografia-intro img {
    width: 80%;
    margin: 20px;
  }
}
@media (max-width: 575px) {
  .show-row {
    height: auto;
    margin: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
