.merch-card{
    background-color: map-get($colors, card-background);
    border-radius: 20px;
    margin: 10px 20px;

        &:hover{
        transform: scale(1.1);
        }
}

.card{
    width: 300px;
    margin: 20px 20px;
    border-radius: 20px;
    background-color: map-get($colors, card-background);

        &:hover{
            transform: scale(1.01);
        }
    &-image{
    border-radius: 20px 20px 0px 0px;
    }
    h2{
        font:$card-title-font;
        color: map-get($colors, card-title-font);
        margin: 5px;
        text-align: center;
    }
    h3{
        font:$card-subtitle-font;
        color: map-get($colors, card-subtitle-font);
        margin: 5px;
        text-align: center;
    }
    p{
        font:$card-text-font;
        color: map-get($colors, card-text-font);
        margin: 5px;
        text-align: center;
    }
    a{
        text-decoration: none;
    }
}
