//Bio
.bio-img{
    width: 300px;
}

//Shows
.show-banner img{
    width: 100%;
}
.ticket{
    border: none;
    border-radius: 3px;
    width: 70%;
    font-family: Montserrat;
}
.ticket:hover{
    background-color: map-get($colors, light-background);
    color:map-get($colors, regular-font);
}
//Disco
.discografia-banner img{
    width: 350px;
    margin: 20px;
}
.carousel-inner{
    border-radius: 12px;
}
.navigate-records{
    text-align: center;
    font: $subtitle-font;
    color: map-get($colors, regular-font);

    &:hover{
        transform: scale(1.05);
    }
}