//Navbar
main{
    padding-top: 60px;
}
//Home
.container-animacion{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    
    img{
        width: 100%;
    }
}
.banner-one{
    grid-column: 1/4;
    grid-row: 1/7;
}
.banner-two{
    grid-column: 4/9;
    grid-row: 2/5;
}
.banner-three{
    grid-column: 9/13;
    grid-row: 1/7;
}

.container-animacion-sm{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);

    img{
        width: 100%;
    }
}
.banner-one-sm{
    grid-column: 1/7;
    grid-row: 2/5;
}
.banner-two-sm{
    grid-column: 8/13;
    grid-row: 1/7;
}
//Bio
.title-row{
    margin: 30px;
}
.bio-row{
    background-image: url(../assets/images/bio-background.jpg);
    background-size: 100%;
    margin: 10px;
}
.bio-text-container{
    padding: 5%;
}
.bio-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
//Disco
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}
.discografia-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 20px; 
}
//Shows
.show-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.show-row{
    height: 70px;
    justify-content: center;
    align-items: center;
}

