.logoheader {
    @include sizes(200px,40px);
        &:hover{
            transform: scale(1.10);
        }
}
.navstyle{
    background-color: map-get($colors, light-background);
    opacity: 0.90;
}
.navbar{
    &-links{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        width: 100%;
        }
    &-items{
        font: $navbar-font;
        color: map-get($colors, regular-font);
        margin: 0px 30px;
    
            &:hover{
            color: map-get($colors, hover-font);
            padding-bottom: 10px;
            border-bottom: 2px #ffffff solid;
        }
    }
    
}