.logoheader {
    width: 200px;
    height: 40px;
        &:hover{
            transform: scale(1.10);
        }
}
.navstyle{
    background-color: #26408B;
    opacity: 0.90;
}
.navbar{
    &-links{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        width: 100%;
        }
    &-items{
        font-family: Montserrat;
        font-size:medium;
        color: #ffffff;
        margin: 0px 30px;
    
            &:hover{
            color: #a6cfd5;
            padding-bottom: 10px;
            border-bottom: 2px #ffffff solid;
        }
    }
    
}