h1{
    font: $title-font;
    text-align: center;
    color: map-get($colors, regular-font);
}
h2{
    font: $subtitle-font;
    text-align: center;
    color: map-get($colors, regular-font);
}
h3{
    font:$section-title-font;
    text-align: center;
    color: map-get($colors, regular-font);
}
p{
    font:$text-font;
    padding: 10px;
    color: map-get($colors, regular-font);
}
