//Tipografias

$title-font: italic 900 3em 'AuroraFont';
$subtitle-font: 600 1.5em 'Montserrat';
$section-title-font: bold 400 1.5em 'Montserrat';
$text-font: 300 1em 'Montserrat';
$navbar-font: medium 'Montserrat';
$card-title-font: 900 large  'Montserrat';
$card-subtitle-font: 700 small 'Montserrat';
$card-text-font: 600 small 'Montserrat';

//Colores
$colors: (
    regular-font: #ffffff,
    hover-font: #a6cfd5,
    card-title-font: #0d0d0d,
    card-subtitle-font: #0f084b,
    card-text-font:#000000,
    regular-background: #0D0221,
    light-background: #26408B,
    card-background: #dbdadd,
);

